<%= form_for(@join_table_post_tag) do |f| %>
  <% if @join_table_post_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@join_table_post_tag.errors.count, "error") %> prohibited this join_table_post_tag from being saved:</h2>

      <ul>
      <% @join_table_post_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
